* {
    margin: 0 auto;
    padding: 0;
}

body{
    font-family: Arial, Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    padding: 10px 0;
    background-image: url('../img/fundo-topo.jpg');
}

header h1{
    margin: 0 auto;
    height: 84px;
}

nav{
    padding: 15px 0;
    text-align: center;
}

nav li{
display: inline;
background-image: url('../img/patinha-preta.png');
background-repeat: no-repeat;
background-position: center right;
padding-right: 27px;
margin-right: 10px;
}

nav a{
    color: #000;
    text-decoration: none;
}

nav a:hover{
    color: #60c924;
}

#itemContato{
    background-image: none;
    padding-right: 0;
    margin-right: 0;
}

.fundo-verde{
    background-color: #60c924;
}

.conteiner{
    width: 900px;
    margin: 0 auto;
    padding: 56px;
}

.flex-conteiner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-conteiner .col{
    width: 430px;
}
.produto{
    width: 235px;
    text-align: center;
    
    
}
.produto figure{
    border: 1px solid #60c924;
    background-color:  #fff;
    margin: 0 0 15px 0;
    padding: 0;
    text-align: center;
    height: 160px;
    line-height: 160px;
}
.produto figure img{
    vertical-align: middle;
}
.btn-pata{
    border: 1px solid #4cac14;
    background-color: #60c924;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    
}
.texto-centralizado{
    text-align: center;
}
form{
    width: 0 auto;
}
form input,
form textarea{
    width: 100%;
    border: 1px solid #60c924;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}
iframe{
    width: 100%;
}